receivers:
  otlp:
    protocols:
      http:

exporters:
  logging:
    logLevel: debug
  prometheus:
    endpoint: 0.0.0.0:8889
  otlp/http:
    endpoint: "http://localhost:4318"

service:
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [logging]
    metrics:
      receivers: [otlp]
      exporters: [prometheus]
